.country-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-gap: 10px; */
 width: 80%;
  margin: auto;
 
}
.error{
  text-align: center;
  margin: 2rem 0;
}
.heading{
  text-align: center;
  margin: 1rem 0;
}
img {
  width: 200px;
  height: auto;

}
.card{
  box-shadow: 5px 5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  margin: 10px;
  background-color: bisque;
  padding: 10px;
  text-align: center;
}
p{
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}